{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript", //ecmascript
            //             "jsx": true,
            "tsx": true,
            "dynamicImport": true,
            "exportDefaultFrom": true,

            "privateMethod": false,

            "functionBind": false,

            "exportNamespaceFrom": false,

            "decorators": false,

            "decoratorsBeforeExport": false,

            "topLevelAwait": false,

            "importMeta": true
        },
        "target": "es2016",
        "loose": false,

        "externalHelpers": true,
        // Requires v1.2.50 or upper and requires target to be es2016 or upper.
        "keepClassNames": false,

        "transform": {
            "react": {
                "pragma": "React.createElement",
                "pragmaFrag": "React.Fragment",
                "throwIfNamespace": false,
                "development": true,
                "useBuiltins": true,
                "runtime": "automatic"
            }
        }
    },
    "minify": true,
    "isModule": true,
    "sourceMaps": true,
    "env": {
        "targets": {
            "chrome": "104"
        },
        "mode": "entry",
        "coreJs": "3.22"
    }
}
