.st0 {
    fill: #2373b9;
}

.st1 {
    fill: #ffffff;
}

.st2 {
    fill: #999999;
}

.st3 {
    fill: #3f9cd5;
}

.st4 {
    fill: #ebebec;
}

.st5 {
    enable-background: new 0 0 26.92 23.23;
}

.st6 {
    fill: #a3a3a3;
}

.st7 {
    fill: none;
    stroke: #bababa;
}

.st8 {
    fill: none;
    stroke: #c9c9c9;
}

.st9 {
    fill: #898989;
}

.st10 {
    fill: #000100;
}

.st11 {
    fill: none;
    stroke: #231f20;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st12 {
    fill: none;
    stroke: #221f1f;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #0ac32d;
}

.st14 {
    fill: #8e8e93;
}

.active {
    .st0 {
        fill: #2373b9;
    }

    .st1 {
        fill: #ffffff;
    }

    .st2 {
        fill: #999999;
    }

    .st3 {
        fill: #3f9cd5;
    }

    .st4 {
        fill: #ebebec;
    }

    .st5 {
        enable-background: new 0 0 26.92 23.23;
    }

    .st6 {
        fill: #a3a3a3;
    }

    .st7 {
        fill: none;
        stroke: #bababa;
    }

    .st8 {
        fill: none;
        stroke: #c9c9c9;
    }

    .st9 {
        fill: #898989;
    }

    .st10 {
        fill: #000100;
    }

    .st11 {
        fill: none;
        stroke: #231f20;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    .st12 {
        fill: none;
        stroke: #221f1f;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    .st13 {
        fill: #0ac32d;
    }

    .st14 {
        fill: #8e8e93;
    }
}
