.ScoreNum {
    padding: 6px 8px;
    border-radius: 4px;
    width: 60px;
    background-color: #ddeff4;
}
.Save {
    font-size: 22px;
    padding: 4px 16px;
    text-align: center;
    color: white;
    background-color: #3579c1;

    border-radius: 4px;
    min-width: 70px;
}

.Label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px !important;
    text-transform: uppercase;
}
.Sync {
    color: white;
    background-color: black;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 8px;

    gap: 4px;

    font-size: 14px;
}
